body {
    font-family: Arial, sans-serif;
    background-color: #BDE8F5;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #0F2854;
    color: white;
    text-align: center;
    padding: 20px;
}
header p {
    color: white;
}

section {
    background-color: #4988C4;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1, h2, h3 {
    color: #F7F6D3;
}

header h1 {
    color: white;
}

ul {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #050E3C;
}

a:hover {
    text-decoration: underline;
}

/* section:hover {
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 8px 20px rgba(28, 45, 54, 0.2);
} */
